html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  color: #000;
  font-family: "Wix Madefor Text", serif;
  background-color: #fff;
}
:target {
  scroll-margin-top: 86px;
}
@media (max-width: 768px) {
  :target {
    scroll-margin-top: 64px;
  }
}
@media (max-width: 480px) {
  :target {
    scroll-margin-top: 56px;
  }
}
