.accordion__button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  @include box-shadow;
  background: url("../icons/arrow.webp") no-repeat center/cover;
  -webkit-transition: width 0.4s, height 0.4s; /* Safari */
  -moz-transition: width 0.4s, height 0.4s; /* Firefox */
  -o-transition: width 0.4s, height 0.4s; /* Opera */
  transition: width 0.4s, height 0.4s;
}

.active {
  width: 50px;
  height: 50px;
  box-shadow: none;
  background: url("../icons/arrow-active.svg") no-repeat center/cover;
}

.accordion__panel {
  color: $font-color;
  font-weight: 400;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.4s ease-out; /* Safari */
  -moz-transition: max-height 0.4s ease-out; /* Firefox */
  -o-transition: max-height 0.4s ease-out; /* Opera */
  transition: max-height 0.4s ease-out;
}
@media (max-width: 480px) {
  .accordion__button {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 400px) {
  .accordion__button {
    width: 25px;
    height: 25px;
  }
}
